# Mac 
.DS_Store

# Test binaries
*.test
tmp
/*.json
*.tmp

# Coverage
*.out

# Binaries
bin
dist

# Keys 
cosign.*
*.pem

# IDEs
.idea/*
.vscode/*

# Crash log files
crash.log
crash.*.log

# Test binaries
*.test
tmp

# Coverage
*.out

# Keys 
cosign.*
*.pem
/keys
*.key

# docker 
digest.txt

/sample
/images
images.txt

# Data
/data
*.db
.digest

